lib/core/localization/app_translation_providers.dart merge=union
lib/di/injection.dart merge=union
lib/app_router.dart merge=union
pubspec.yaml merge=union
packages/platform/lib/deep_link_routes.dart merge=union
